html {
  width: 100vw;
  padding: 0;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 100%;
  height: 100vh;

}

#main_pic {
  background-image: url("images/Tassel_HomePage838x480.png");
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.logo {
  width: 15%;
  margin-top: 1px;
}

.bkgd_dkMaroon {
  display: flex;
  background-color: #1d0200;
}

.main_title {
  align-self: center;
  margin: 0px 9px 0px 20px;
  color: #fff;
  font-variant: small-caps;
  font-size: 1em;
}

.main_text {
  font-size: .75em;
  color: white;
  padding: 20px;
  margin: 0;
}

section {
  background: #1d0200;
  padding-right: 10px;
  padding-left: 10px;
}

.card_s {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 9px 14px;
}

.card_s img {
  width: 100%;
}

@media screen and (min-width: 360px) {
  .card_s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 560px) {
  .card_s {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .bkgd_dkMaroon {
    margin-top: -1px;
  }
}

@media screen and (min-width: 780px) {
  .card_s {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}